<mat-card class="next-delivery-card">
  <mat-card-content>
    <div class="d-flex">
      <p class="color-primary">
        <mat-icon
          class="calendar-icon"
          aria-hidden="false"
          fontIcon="edit_calendar"
        ></mat-icon>
      </p>
      <div>
        <p class="title d-flex">Change Next Delivery Date</p>
        <p class="subtitle">
          <span class="underline"
            >Next:
            {{
              deliveryDate?.toDate() | date : "EEEE, MMMM dd" : "UTC +0"
            }}</span
          ><span class="sufix">{{
            deliveryDate?.toDate() | date : "d" | dateSuffix
          }}</span>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
