html {
  --mdc-text-button-label-text-size: 22px;
  --mdc-text-button-label-text-tracking: normal;
  --mdc-dialog-supporting-text-weight: 600;
  --mdc-outlined-button-outline-color: black;
  --mdc-outlined-button-label-text-weight: 600;
  --mdc-protected-button-label-text-weight: 600;
  --mat-datepicker-calendar-text-size: 17px;
  --mat-datepicker-calendar-header-text-color: black;
  --mat-datepicker-calendar-header-text-size: 16px;
}

// buttons

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: black;
}

.change-delivery-date.mat-mdc-raised-button:not(:disabled) {
  color: #ffff;
}

.mdc-button.mdc-button--outlined {
  background-color: #ffff;
}

// dialog

.mat-mdc-dialog-container .mdc-dialog__content {
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 1);
}
