<div class="d-flex align-center justify-center direction-column container">
  <p>Change Your Next Delivery Date to:</p>
  <p *ngIf="selectedDate">
    {{ selectedDate.toDate() | date : "EEEE, MMMM dd"
    }}{{ selectedDate.toDate() | date : "d" | dateSuffix }}?
  </p>
  <div class="buttons-container d-flex justify-center row-reverse">
    <button
      mat-stroked-button
      (click)="handleClose(false)"
      class="confirm-button"
    >
      No
    </button>
    <button
      mat-raised-button
      color="primary"
      class="yes-btn"
      (click)="handleClose(true)"
      class="confirm-button confirm-button-yes"
    >
      Yes
    </button>
  </div>
</div>
