.next-delivery-card {
  max-width: 380px;
  font-weight: 500;
  margin-left: 55px;
}

.title {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 4px;
  letter-spacing: 0px;
  white-space: nowrap;
}

.title .underline {
  margin-left: 4px;
  font-size: 13px;
  text-decoration-line: underline;
}

.title .sufix {
  font-size: 9px;
  text-decoration-line: underline;
  position: relative;
  bottom: 3px;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  max-width: 264px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

.shipping-icon {
  margin-left: 8px;
  font-size: 16px;
  color: #b3bac8;
  margin-right: 4px;
  line-height: 38px;
  width: 16px;
}

.payments-icon {
  font-size: 14px;
  color: #b3bac8;
  margin-right: 4px;
  line-height: 38px;
  width: 14px;
}

@media screen and (max-width: 1700px) {
  .next-delivery-card {
    margin-left: 0;
  }
}

@media screen and (max-width: 678px) {
  .next-delivery-card {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
